# URL de conexão do projeto Supabase para a BBBIM
NEXT_PUBLIC_SUPABASE_URL=https://hyboggiwhkkvsvlljkrg.supabase.co

# Insira a chave anônima (anon/public key) obtida nas configurações de API do Supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=
